/* Mobile first */
body {
	background-color: lightgray;
	font-family: 'DejaVu Sans', sans-serif;
}

[class *="col-"] {
	background-color: #f7f7f7;
	float: left;
	padding: 10px;
	border-radius: 13px;
	margin-top: 1.25%;
	margin-left: 2%;
	color: #383838;
}		

#mainDiv{
	display:flex;
	flex-flow:column;
}
	
#titleDiv{order:1;}
#numDiv{order:2;}
#settingsDiv{order:4;}
#chartDiv{order:3}
#dataDiv{order:5;}


/* 
****************************************
* I div : Title ( divs clock and logo) *
****************************************
*/

.clock{
	/*background-color: rgba(54, 162, 235, 0.1);*/
	background-color: #2e9fea42;
	float: left;
	border: 1.5px solid white;
}

#digitalClock{
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 35px;
	letter-spacing: 1.5px;
	margin-top: 5px;
}

#statusImg{
	float: right;
	width: 37.82px;
	height: 40px;
	padding-top: 4px;
}

/* 
************************************
* II div : value indicator & gauge *
************************************
*/


.nums{
	margin-bottom: 0;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}

.gauge{
	float: left;
	width: 30%;
}
	
.numberCircle {
	text-align: center; 
	float:left;
	font-size: 30px;
	margin-top: 1%;
	margin-left: 40%;
	font-size: 24px;
}

#backGauge{
	margin-left : 10%
}
	
#alarmGauge{
	margin-left: 10%;
}

#cpsGauge{
	margin-left: 10%;
}

/* 
************************************
* III div : chart                  *
************************************
*/

.chart{
	margin-top: -2%;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

/* 
************************************
* IV div : settings                *
************************************
*/

[class *="settingsDiv-"] {
	width: 22.5%;
	height: 70px;
	background-color: #f7f7f7; 
	float: left;
	padding: 2px;
	color: #007bff;
	border : 0.75px solid #2e9fea;
	border-radius: 5px;
	margin: 5px;
	margin-top: 8px
}		

.settings-lbl{
	font-size: 20px;
	margin-left: 10px;
	margin-top:  10px;
}


.settings-item {
	border-radius: 10px;
	display: inline-table;
	width: 100%;
	height: 100%;
	text-align: left;
	background-repeat: no-repeat;
	background-position: right; 
	background-size: 60px 60px;
}

[class *="settingsDiv"] :hover {
	background-color: #2e9fea8e ;
	color: #f1f1f1;
	cursor: pointer;
}

.inputSettings{
	width: 30px;
	height: 30px;
	border: transparent;
	text-align: center;
	font-size: 18px;
	padding: 0px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
}

.btn{
	padding: 6px;
	border-radius: 4px;
	background-color: rgb(0, 170, 255,0.3);
	border: 2px solid #007bff ;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	float: right;
}

.resetButton{
	float : left;
	border: 1px solid gray;
	font-weight: lighter;
	visibility: hidden;
	background-color: lightgray;
}


#settingsAlarm{
	background-image: url(../assets/images/alarm_settings70x70.png);
}

#settingsAudio{
	background-image: url(../assets/images/speaker_on_70x70.png);
}

#settingsPeriferiche{
	background-image: url(../assets/images/devices70x70.png);
}

#settingsGraphic{
	background-image: url(../assets/images/pencil1.png);
}

#settingsLed{
	background-image: url(../assets/images/led70x70.png);
}

#settingsReports{
	background-image: url(../assets/images/report70x70.png);
}

#settingsUsers{
	background-image: url(../assets/images/usericon70x70.png);
}

#settingsSigma{
	background-image: url(../assets/images/sigma70x70.png);
}



/* 
************************************
* V div : DATA pdf reports         *
************************************
*/

.back-btn{
	float: left;
	width: 5%;
	height: 45px;
	background-image: url(../assets/images/back-arrow70x70.png);
	background-size: 35px 40px;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	visibility: hidden;
}

.back-btn :hover{
	border: 1px solid black;
}

.dataSelectionDate{
	border: 1px solid gray;
	border-radius: 5px;
	font-size: 15px;
	text-align: center;
	width: 40%;
	height: 35px;
	cursor: pointer;
}

#dataSelectionDateDiv{
	position: relative;
	margin-top: 2%;
}

#dsd1{
	float: left;
}

#dsd2{
	float:right;
}

#rhDiv{
	margin-top: 8.5%;
	width: 100%;
	height: 80%;
	overflow: scroll;
}

.rhMenu {
	float: left;
	background-color: #2e9fea77;
	white-space: nowrap;
	border-radius: 5px;
	width: 80%;
	height: 45px;
	margin-left: 5%;
}
  
.rhMenu a {
	font-weight: bold;
	border-radius: 5px;
	border-color: white;
	display: inline-block;
	color: white;
	text-align: center;
	padding: 15px;
	cursor: pointer;
	margin-left: 10%;
}
  
.rhMenu a:hover {
	font-weight: bolder;
	background-color: #2e9fea;
}


	


	

	
		