/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	
	body {
		background-color: dimgray;
	}

	#statusImg{
		width: 42.56px;
		height: 45px;
	}

	#titleDiv{
		font-size: 25px;
	}

	.numberCircle{
		font-size: 20px;
		padding-top: 3px;
	}

	#backGauge{
		margin-left : 12.5%
	}

	#alarmGauge{
		margin-left: 12.5%;
	}
	
	#cpsGauge{
		margin-left: 12.5%;
	}

    
}