	/* Medium devices (landscape tablets & large phones ,768px and up) */
    @media only screen and (min-width: 768px) {

        [class *="col-"] {
            padding: 5px;
            float: left;
        }	
        
        .chart{
            margin-top: -1%;
        }

        body {
            background-color: lightsalmon;
        }

        .numberCircle{
            font-size: 26px;
            padding-top: 3px;
        }
    
    
    }
