/* Large devices (laptops/desktops, 992px and up) */
/* BREAKPOINT MOBILE VIEW TO DESKTOP VIEW */

@media only screen and (min-width: 992px) {

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 35.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    body{
        background-color: pink;
    }

    #mainDiv{
        display: unset;
        flex-flow: unset;
    }
        
    #titleDiv{order:1;}
    #numDiv{order:2;}
    #settingsDiv{order:3;}
    #chartDiv{order:4}
    #dataDiv{order:5;}

    .clock{
        width: 95%;
    }

    .chart{
        margin-top: 1%;
        border-top-right-radius: 13px;
        border-top-left-radius: 13px;
        height: 550px;
    }

    .nums{
        margin-left: 2%;
        border-bottom-left-radius:13px;
        border-bottom-right-radius:13px;
    }

    .data{
        margin-top: 1%;
        height: 550px;
    }

    /* 
    ************************************
    * IV div : settings                *
    ************************************
    */

/*
    .settingsDiv-1{
    }

    .settingsDiv-2{
        width: 50%;
    }

    .settingsDiv-3{
        width: 75%;
    }

    .settingsDiv-4{
        width: 100%;
    }*/
}