/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    [class *="col-"] {
        border: 0px solid;
    }

    body{
        background-color: lightgrey;
    }   

    .clock{
        border: 1.5px solid white;
    }
    
    #numDiv{height: 180px;}
    #settingsDiv{height: 180px;}

    .gauge{
        float: left;
        width: 20%;
        margin-top: -25px;
        margin-bottom: 5px;
    }
    
    #back_F{
        margin-left: 13.5%;
    }

    #cps_F{
        margin-left: 5%;
    }
    
    #alarm_F{
        margin-left: 5%;
    }

    .numberCircle{
        margin-top: -48.5%;
        font-size: 38px;
    }

    #back{

    }

    #cps{
        
    }

    #alarm{
       
    }

    .settings{
        margin-left: 1%;
    }

    .chart{
        margin-left: 2%;
    }

    .data{
        margin-left: 1%;
    }
}
