<script>

    $('#settingsSigma').click( () => {
        $('#settingsDiv').load('../src/html/settings/settingsSigma.html');
    });
    
</script>

<div>
    <div class="settingsDiv-1">
        <a class="settings-item" id="settingsAlarm">
            <label class="settings-lbl">Allarmi</label>
        </a>
    </div>	

    <div class="settingsDiv-2">
        <a class="settings-item" id="settingsAudio">
            <label class="settings-lbl">Audio</label>
        </a>
    </div>

    <div class="settingsDiv-3">
        <a class="settings-item" id="settingsPeriferiche"> 
            <label class="settings-lbl"> I/0 </label>
        </a>
    </div>

    <div class="settingsDiv-4">
        <a class="settings-item" id="settingsGraphic"> 
            <label class="settings-lbl"> Grafica </label>
        </a>
    </div>

    <div class="settingsDiv-1">
        <a class="settings-item" id="settingsLed"> 
            <label class="settings-lbl"> LED </label>
        </a>
    </div>	

    <div class="settingsDiv-2">
        <a class="settings-item" id="settingsReports"> 
            <label class="settings-lbl"> Reports </label>
        </a>
    </div>

    <div class="settingsDiv-3">
        <a class="settings-item" id="settingsSigma"> 
            <label class="settings-lbl"> Sigma </label>
        </a>
    </div>

    <div class="settingsDiv-4">
        <a class="settings-item" id="settingsUsers"> 
            <label class="settings-lbl"> Utenti </label>
        </a>
    </div>

</div>