<script type="module" type="text/javascript" src="../src/js/modules/settings/setSigma.js"> </script>

<style>

    #inputSigma{
        margin-top: 50px;
        font-size: 30px;
        width: 17%;
        text-align: center;
    }

    #lbl{
        position: absolute;
        margin-left: 50px;
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    }

    #backSettings{
       width: 90px;
       height: 85px;
       margin: 20px;
       float: left;
       background-image: url(../src/assets/images/back.png);
       border: 1px solid gray;
    }

    #resetButton{
        background-color: lightgray;
        border: 0px;
        width: 100px;
        font-weight: normal;
    }

    #saveButton{
        background-image: url(../src/assets/images/save70x70.png);
        background-repeat: no-repeat;
        background-size: 50px 50px;
        background-position-x: center;
        background-position-y: center;
        width: 90px;
        height: 85px;
        float: right;
        margin: 20px;
    }

</style>

<div> 
    <button id="backSettings" onclick="$('#settingsDiv').load('../src/html/settings/settingsMenu.html')" ></button>

    <label id="lbl" > SIGMA </label>

    <input type="number" id="inputSigma" min="1" max ="20"/>  

    <button class="btn" id="saveButton"> </button>	
</div>
