<style>

#embedPdf{
    margin-left: 10%;
}

#titleList{
    text-align: center;
    font-size: 15px;
    font-style: italic;
    display: block;
}

li{
    margin: 10px;
    list-style-type: none;
    width : 85%;
    text-align: center;
    border-radius: 6px;
    border: 2px solid grey;
    padding: 10px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{
    background-color: rgba(179, 179, 179, 0.603);
    font-weight: bold;
    color: #0b81cf;
    font-size: 20px;
    letter-spacing: 2px;
}


</style>

<div>

    <embed id="embedPdf" width="80%" height="450px" hidden/> 

    <h id="titleList"> Reports Allarmi </h>
    <ul id="dailyList" width="100%">  </ul>
    
</div>

            
            

    